# Scrape StatFox for Current and Historical Matchup Stats
`Notebooks/skr_statfox.ipynb`
###### `BY: Jonathan Sims` 
###### `CREATED: 2019-06-15`
- GOAL: Scrape daily to build up historical matchup tables
- USE: Treat each matchup page as one obs in RF model to asses feature importance
    - Useful before spending time building up game/pitch/player-level count data 
    - Compare odds here with odds from VegasInsider to look for odds movement features

In [17]:
import sys
import os.path
from bs4 import BeautifulSoup
from urllib.request import urlopen
import boto3
import numpy as np
import pandas as pd 
import pickle
import codecs

In [26]:
file_o = '20200223.skr_statfox.2012.tsv.gz'
file_l = '20200223.skr_statfox.2012.log'
glyear = 'GL2012.CSV'

In [19]:
def FromPickleS3(bucketname, keyname):
    """Get dataframe from s3 and unpickle
    """
    s3 = boto3.client('s3')
    pkldf = s3.get_object(Bucket=bucketname,Key=keyname)['Body'].read()
    df = pickle.loads(pkldf)
    return df

In [20]:
def Flatten2DLabel(obj, row_label, col_label):
    """Flattens a dataframe to single row and concatenates row and 
    column lables within the dataframe into one column name.                                 
    """
    # Return all row indexes after last row_label
    st_row = row_label[-1]+1
    # Return all columns after last col_label
    st_col = col_label[-1]+1


    # Get row labels and concatenate
    for x in row_label:
        if x == row_label[0]:
            cols = []
            cols = obj.iloc[x][st_col:]
        else:
            cols = cols+'_'+obj.iloc[x][st_col:]

    # Get column labels and concatenate
    for x  in col_label:
        if x == col_label[0]:
            rows = []
            rows = obj[st_row:][x]
        else:
            rows = rows+'_'+obj[st_row:][x]  

    # Strip non alphanumeric
    colstrip = cols.str.replace('[^\w]','')
    rowstrip = rows.str.replace('[^\w]','')


    obj_in = pd.DataFrame([])
    for x in rowstrip.index:
        for y in colstrip.index:
            obj_tmp = pd.DataFrame([obj.iloc[x][y]], columns=[str(colstrip[y])+'_'+str(rowstrip[x])])
            obj_in = pd.concat([obj_in,obj_tmp], axis=1)
            
    return obj_in

In [21]:
def CleanStatfoxScrape(obj):
    """Takes flattened sub-tables from statfox matchup
    page and cleans and shortens feature names
    """
    # Team names to V or H
    obj.columns = obj.columns.str.replace(tm_v,'V_')
    obj.columns = obj.columns.str.replace(tm_h,'H_')

    # Shorten sub-table names
    obj.columns = obj.columns.str.replace('CurrentSeasonPerformance', 'Overall')
    obj.columns = obj.columns.str.replace('TeamHittingandFieldingStatistics','HitField')
    obj.columns = obj.columns.str.replace('BullpenPitchingStatistics','Bullpen')
    
    return obj

In [22]:
def DuplicatedVarnames(df):
    """Return a dict of all variable names that 
    are duplicated in a given dataframe."""
    repeat_dict = {}
    var_list = list(df) # list of varnames as strings
    for varname in var_list:
        # make a list of all instances of that varname
        test_list = [v for v in var_list if v == varname] 
        # if more than one instance, report duplications in repeat_dict
        if len(test_list) > 1: 
            repeat_dict[varname] = len(test_list)
    return repeat_dict

#### Get list of games

In [23]:
glhead = pd.read_csv('GLHEADER.CSV',header=None)
gms = pd.read_csv(glyear,header=0,names=list(glhead[0]))
gms = gms[['date','team_h','team_v','score_h','score_v']]

teams = pd.read_csv('TEAM_NAMES.CSV',header=0,index_col=['name1'],usecols=['name1','name3'])
teams = teams['name3'].to_dict()

gms['team_h'] = gms['team_h'].map(lambda x: teams[x.upper()])
gms['team_v'] = gms['team_v'].map(lambda x: teams[x.upper()])

In [24]:
gms

          date        team_h         team_v  score_h  score_v
0     20120329       OAKLAND        SEATTLE        4        1
1     20120404         MIAMI       ST LOUIS        1        4
2     20120405     CLEVELAND        TORONTO        4        7
3     20120405       DETROIT         BOSTON        3        2
4     20120405  CHICAGO CUBS     WASHINGTON        1        2
5     20120405    CINCINNATI          MIAMI        4        0
6     20120405       NY METS        ATLANTA        1        0
7     20120405    PITTSBURGH   PHILADELPHIA        0        1
8     20120405     SAN DIEGO     LA DODGERS        3        5
9     20120406     LA ANGELS    KANSAS CITY        5        0
10    20120406     BALTIMORE      MINNESOTA        4        2
11    20120406       OAKLAND        SEATTLE        3        7
12    20120406     TAMPA BAY     NY YANKEES        7        6
13    20120406         TEXAS  CHI WHITE SOX        3        2
14    20120406       ARIZONA  SAN FRANCISCO        5        4
15    20120406       HOUSTON       COLORADO        3        5
16    20120406     MILWAUKEE       ST LOUIS        5       11
17    20120406     SAN DIEGO     LA DODGERS        0        6
18    20120407     LA ANGELS    KANSAS CITY        3        6
19    20120407     BALTIMORE      MINNESOTA        8        2
20    20120407     CLEVELAND        TORONTO        4        7
21    20120407       DETROIT         BOSTON       10        0
22    20120407       OAKLAND        SEATTLE        7        8
23    20120407     TAMPA BAY     NY YANKEES        8        6
24    20120407         TEXAS  CHI WHITE SOX        3        4
25    20120407       ARIZONA  SAN FRANCISCO        5        4
26    20120407  CHICAGO CUBS     WASHINGTON        4        7
27    20120407    CINCINNATI          MIAMI        3        8
28    20120407       HOUSTON       COLORADO        7        3
29    20120407     MILWAUKEE       ST LOUIS        6        0
...        ...           ...            ...      ...      ...
2399  20121002     CLEVELAND  CHI WHITE SOX        4        3
2400  20121002   KANSAS CITY        DETROIT        4        2
2401  20121002    NY YANKEES         BOSTON        4        3
2402  20121002       OAKLAND          TEXAS        3        1
2403  20121002       SEATTLE      LA ANGELS        6        1
2404  20121002     TAMPA BAY      BALTIMORE        0        1
2405  20121002       TORONTO      MINNESOTA        4        3
2406  20121002       ARIZONA       COLORADO        5        3
2407  20121002  CHICAGO CUBS        HOUSTON        0        3
2408  20121002    LA DODGERS  SAN FRANCISCO        3        4
2409  20121002         MIAMI        NY METS        4        3
2410  20121002     MILWAUKEE      SAN DIEGO        4        3
2411  20121002    PITTSBURGH        ATLANTA        5        1
2412  20121002      ST LOUIS     CINCINNATI        1        3
2413  20121002    WASHINGTON   PHILADELPHIA        4        2
2414  20121003     CLEVELAND  CHI WHITE SOX        0        9
2415  20121003   KANSAS CITY        DETROIT        0        1
2416  20121003    NY YANKEES         BOSTON       14        2
2417  20121003       OAKLAND          TEXAS       12        5
2418  20121003       SEATTLE      LA ANGELS       12        0
2419  20121003     TAMPA BAY      BALTIMORE        4        1
2420  20121003       TORONTO      MINNESOTA        2        1
2421  20121003       ARIZONA       COLORADO        1        2
2422  20121003  CHICAGO CUBS        HOUSTON        5        4
2423  20121003    LA DODGERS  SAN FRANCISCO        5        1
2424  20121003         MIAMI        NY METS        2        4
2425  20121003     MILWAUKEE      SAN DIEGO        6        7
2426  20121003    PITTSBURGH        ATLANTA        0        4
2427  20121003      ST LOUIS     CINCINNATI        1        0
2428  20121003    WASHINGTON   PHILADELPHIA        5        1

[2429 rows x 5 columns]

#### Get dataframe from s3 and unpickle
#### Format and append each matchup together from s3

In [27]:
df_all = pd.DataFrame()

# gms = gms.drop([9])

for x in gms.index:
# for x in range(10):
    try:
        
        #### Parse date, team names, and score from games list
        
        dt = str(gms.loc[x,'date'])
        tm_h = str(gms.loc[x,'team_h']).replace(' ','')                                                              
        tm_v = str(gms.loc[x,'team_v']).replace(' ','')
        sc_h = gms.loc[x,'score_h']
        sc_v = gms.loc[x,'score_v']

        #### Adjust URL if second game of double header
        
        if (x > 1) and (str(gms.loc[x-1,'date']) == dt) and (str(gms.loc[x-1,'team_h']).replace(' ','') == tm_h):
            tm_h_url = tm_h+'2'
        else:
            tm_h_url = tm_h

        #### Create dataframe from s3 pickle
        
        df = FromPickleS3(bucketname='scrapes-rawhtml-dev', keyname='statfox_DEV/'+dt+tm_h_url+'.pkl')

        #### Show progress
        
        if x%100 == 0:
            print('On match: ', dt, tm_h_url)

        #### Parse and concatenate all features together, by matchup

        # 6:  Overall - board and line
        # 11: Away - Current Season Performance
        # 12: Away - Team Hitting and Fielding
        # 13: Away - Bullpen Pitching 
        # 14: Home - Current Season Performance
        # 15: Home - Team Hitting and Fielding
        # 16: Home - Bullpen Pitching 
        df6  = df[6] 
        df11 = df[11]
        df12 = df[12]
        df13 = df[13]
        df14 = df[14]
        df15 = df[15]
        df16 = df[16]

        df6 = df6.transpose() # Make board and team labels first
        df6_wd = Flatten2DLabel(df6, [1], [0,1])

        df11_wd = Flatten2DLabel(df11, [0,1,2], [0])
        df14_wd = Flatten2DLabel(df14, [0,1,2], [0])

        df12_wd = Flatten2DLabel(df12, [0,1,2], [0])
        df15_wd = Flatten2DLabel(df15, [0,1,2], [0])

        df13_wd = Flatten2DLabel(df13, [0,1], [0])
        df16_wd = Flatten2DLabel(df16, [0,1], [0])

        #### Concatenate all sub-tables and clean labels

        df_wd_all = pd.concat([df6_wd, df11_wd, df12_wd, df13_wd, df14_wd, df15_wd, df16_wd], axis=1)
        df_wd_all = CleanStatfoxScrape(df_wd_all)

        #### Add matchup index value date-board_h-board_v

        board_h = df6[3].iloc[0]
        board_v = df6[2].iloc[0]
        df_wd_all.index = [int(dt)*1000000+int(board_h)*1000+int(board_v)]

        #### Add team names and final scores

        df_wd_all['tm_h'] = tm_h
        df_wd_all['tm_v'] = tm_v
        df_wd_all['sc_h'] = sc_h
        df_wd_all['sc_v'] = sc_v

        #### Drop columns duplicates (usually nan)

        for x in DuplicatedVarnames(df_wd_all):
            df_wd_all = df_wd_all.drop(list(df_wd_all.filter(regex=x)), axis=1)

        #### Split features on hyphen if OU (over-under) or WL (win-loss)        

        ou_cols = [col for col in df_wd_all.columns if 'OU' in col]

        if ou_cols != []:
            for x in ou_cols:
                xO = x.replace('OU', 'O')
                xU = x.replace('OU', 'U')
                df_wd_all[[xO,xU]] = df_wd_all[x].str.split("-",expand=True)    
                df_wd_all = df_wd_all.drop(x, axis=1)

        wl_cols = [col for col in df_wd_all.columns if 'WL' in col]

        if wl_cols != []:
            for x in wl_cols:
                xW = x.replace('WL', 'W')
                xL = x.replace('WL', 'L')
                df_wd_all[[xW,xL]] = df_wd_all[x].str.split("-",expand=True)    
                df_wd_all = df_wd_all.drop(x, axis=1)    

        #### Create target variable (home win)

        df_wd_all['win_h'] = np.where(df_wd_all['sc_h'] > df_wd_all['sc_v'], 1, 0)

        #### Combine feature rows

        df_all = pd.concat([df_all, df_wd_all], ignore_index=False, sort=True)
    
    #### Print exception to log and go to next iteration (URL)
    
    except Exception as exc:
        excstamp = datetime.now()+' - '+exc+' - 'url
        print(excstamp, file=open(file_l, 'a'))
        continue

On match:  20120329 OAKLAND
On match:  20120413 TORONTO
On match:  20120420 MILWAUKEE
On match:  20120428 NYYANKEES
On match:  20120505 NYMETS
On match:  20120513 BOSTON
On match:  20120519 PHILADELPHIA
On match:  20120527 BOSTON
On match:  20120603 MILWAUKEE
On match:  20120611 TORONTO
On match:  20120619 BOSTON
On match:  20120626 ATLANTA
On match:  20120703 ARIZONA
On match:  20120714 NYYANKEES
On match:  20120721 OAKLAND
On match:  20120728 ATLANTA
On match:  20120804 PHILADELPHIA
On match:  20120811 SANFRANCISCO
On match:  20120819 DETROIT
On match:  20120826 ARIZONA
On match:  20120902 HOUSTON
On match:  20120910 LAANGELS
On match:  20120918 LAANGELS
On match:  20120925 CHIWHITESOX
On match:  20121002 KANSASCITY

In [31]:
df_all

,H_Bullpen_BB_AllGames,H_Bullpen_BB_HomeGames,H_Bullpen_BSV_AllGames,H_Bullpen_BSV_HomeGames,H_Bullpen_ERA_AllGames,H_Bullpen_ERA_HomeGames,H_Bullpen_ER_AllGames,H_Bullpen_ER_HomeGames,H_Bullpen_HR_AllGames,H_Bullpen_HR_HomeGames,...,V_Overall_Team_Runs_vsRighthandedStarters,V__Latest_Line,V__Latest_Total,V__Opening_Line,V__Opening_Total,sc_h,sc_v,tm_h,tm_v,win_h
20120329996995,189,90,18,7,3.78,3.51,191,90,40,18,...,3.6,+115,"Ov 8.5,+100",-105,"Ov 8.5,+100",4,1,OAKLAND,SEATTLE,1
20120404998997,208,106,19,9,3.44,2.90,197,86,41,18,...,4.9,+160,"Ov 7,+125",+170,"Ov 7,+125",1,4,MIAMI,STLOUIS,0
20120405914913,176,79,16,5,3.73,3.06,204,90,48,23,...,4.4,-120,"Ov 7,-115",-120,"Ov 7,-115",4,7,CLEVELAND,TORONTO,0
20120405912911,237,111,10,6,4.26,4.39,231,118,46,17,...,5.3,+130,"Ov 7,+105",+125,"Ov 7,+105",3,2,DETROIT,BOSTON,1
20120405906905,227,122,23,12,3.51,3.56,196,101,46,24,...,4.0,-140,"Ov 6.5,+110",-170,"Ov 6.5,+110",1,2,CHICAGOCUBS,WASHINGTON,0
20120405908907,228,105,22,7,3.61,3.18,201,90,47,23,...,3.7,+120,"Ov 7.5,-105",+140,"Ov 7.5,-105",4,0,CINCINNATI,MIAMI,1
20120405902901,199,111,23,12,4.33,4.55,228,118,43,17,...,NaN,-110,"Ov 7,+105",-105,"Ov 7,+105",1,0,NYMETS,ATLANTA,1
20120405904903,220,105,22,10,3.73,3.42,218,108,47,19,...,NaN,-150,"Ov 7,+120",-190,"Ov 6.5,-115",0,1,PITTSBURGH,PHILADELPHIA,0
20120405910909,210,109,18,7,3.05,2.71,164,75,32,8,...,4.1,-150,"Ov 6,+100",-145,"Ov 6,+100",3,5,SANDIEGO,LADODGERS,0
20120406968967,0,0,0,0,3.60,0.00,2,0,0,0,...,2.0,+140,"Ov 6.5,-110",+125,"Ov 7,+110",3,7,OAKLAND,SEATTLE,0
20120406958957,1,1,0,0,4.50,4.50,2,2,1,1,...,NaN,+115,"Ov 6,-125",+105,"Ov 6,-125",0,6,SANDIEGO,LADODGERS,0
20120407922921,0,0,0,0,0.00,0.00,0,0,0,0,...,0.0,+170,"Ov 7.5,+100",+187,"Ov 7.5,+105",3,6,LAANGELS,KANSASCITY,0
20120407924923,2,2,0,0,9.00,9.00,2,2,1,1,...,2.0,-115,"Ov 9,+100",-105,"Ov 9,+100",8,2,BALTIMORE,MINNESOTA,1
20120407918917,6,6,1,1,6.75,6.75,6,6,1,1,...,7.0,-115,"Ov 8,+100",-105,"Ov 8,+100",4,7,CLEVELAND,TORONTO,0
20120407920919,0,0,1,1,18.00,18.00,2,2,0,0,...,2.0,-110,"Ov 7.5,-115",-105,"Ov 7.5,-115",10,0,DETROIT,BOSTON,1
20120407930929,2,2,0,0,4.00,4.50,4,2,0,0,...,3.7,-120,"Ov 6.5,+115",-120,"Ov 6.5,+115",7,8,OAKLAND,SEATTLE,0
20120407926925,4,4,0,0,0.00,0.00,0,0,0,0,...,NaN,+110,"Ov 7.5,+105",+100,"Ov 7.5,+105",8,6,TAMPABAY,NYYANKEES,1
20120407928927,0,0,0,0,0.00,0.00,0,0,0,0,...,NaN,+160,"Ov 9.5,+110",+165,"Ov 9.5,+110",3,4,TEXAS,CHIWHITESOX,0
20120407908907,0,0,0,0,3.86,3.86,1,1,0,0,...,4.0,-105,"Ov 8.5,+100",+110,"Ov 8,+100",5,4,ARIZONA,SANFRANCISCO,1
20120407902901,3,3,1,1,6.77,6.77,1,1,0,0,...,2.0,+105,"Ov 9,+100",+100,"Ov 9,+100",4,7,CHICAGOCUBS,WASHINGTON,0
20120407914913,0,0,0,0,0.00,0.00,0,0,0,0,...,0.5,+125,"Ov 8,+100",+150,"Ov 8,+100",3,8,CINCINNATI,MIAMI,0
20120407910909,1,1,0,0,3.37,3.37,1,1,1,1,...,NaN,-130,"Ov 9,-105",-115,"Ov 9,+100",7,3,HOUSTON,COLORADO,1
20120407906905,2,2,0,0,6.75,6.75,4,4,0,0,...,7.5,+110,"Ov 7,-110",+100,"Ov 7,-105",6,0,MILWAUKEE,STLOUIS,1
20120407904903,1,1,0,0,0.00,0.00,0,0,0,0,...,NaN,-110,"Ov 7,-115",-105,"Ov 7,-115",4,2,NYMETS,ATLANTA,1
20120407912911,1,1,0,0,0.00,0.00,0,0,0,0,...,NaN,-160,"Ov 6.5,-115",-170,"Ov 6.5,-115",2,1,PITTSBURGH,PHILADELPHIA,1
20120407916915,3,3,0,0,2.16,2.16,2,2,1,1,...,5.0,-105,"Ov 7,+110",+100,"Ov 7,+110",5,6,SANDIEGO,LADODGERS,0
20120408976975,1,1,0,0,0.00,0.00,0,0,0,0,...,3.0,+160,"Ov 8.5,-110",+155,"Ov 8,-115",3,7,LAANGELS,KANSASCITY,0
20120408972971,2,2,0,0,4.50,4.50,2,2,1,1,...,2.0,+100,"Ov 9.5,+100",+100,"Ov 9,-115",3,1,BALTIMORE,MINNESOTA,1
20120408970969,7,7,1,1,7.62,7.62,11,11,2,2,...,7.0,-105,"Ov 8.5,-115",+105,"Ov 8.5,-115",4,3,CLEVELAND,TORONTO,1
20120408968967,1,1,1,1,2.84,2.84,2,2,0,0,...,1.0,+100,"Ov 9,-110",-105,"Ov 8.5,-105",13,12,DETROIT,BOSTON,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20121002918917,188,101,12,7,4.00,3.61,230,109,50,24,...,4.7,+100,"Ov 8.5,-110",+105,"Ov 8.5,-110",4,3,CLEVELAND,CHIWHITESOX,1
20121002926925,226,115,20,13,3.20,3.51,198,114,44,26,...,4.7,-105,"Ov 8.5,-105",+105,"Ov 8.5,-105",4,2,KANSASCITY,DETROIT,1
20121002922921,156,76,13,7,3.47,3.79,168,91,46,20,...,NaN,+175,"Ov 9,-110",+155,"Ov 9,-110",4,3,NYYANKEES,BOSTON,1
20121002928927,208,101,16,7,2.99,2.78,167,79,45,24,...,NaN,-145,"Ov 7.5,-120",-140,"Ov 7.5,-120",3,1,OAKLAND,TEXAS,1
20121002930929,185,87,18,9,3.40,2.18,170,55,44,14,...,4.8,-115,"Ov 7.5,+100",-125,"Ov 7.5,+100",6,1,SEATTLE,LAANGELS,1
20121002924923,148,65,8,4,2.88,2.27,148,60,40,17,...,4.6,+125,"Ov 7.5,+100",+140,"Ov 7.5,+100",0,1,TAMPABAY,BALTIMORE,0
20121002920919,206,97,15,8,4.36,4.82,253,140,70,40,...,4.4,+140,"Ov 9.5,-110",+140,"Ov 10,-110",4,3,TORONTO,MINNESOTA,1
20121002914913,151,82,18,4,3.27,3.77,168,101,40,25,...,NaN,+150,"Ov 9.5,-105",+140,"Ov 10,-105",5,3,ARIZONA,COLORADO,1
20121002908907,255,127,17,9,4.50,4.16,243,117,55,27,...,3.6,-105,"Ov 7.5,+100",-105,"Ov 7.5,+100",0,3,CHICAGOCUBS,HOUSTON,0
20121002916915,208,100,18,12,3.24,2.43,164,63,34,16,...,NaN,+175,"Ov 7.5,-115",+145,"Ov 7.5,-115",3,4,LADODGERS,SANFRANCISCO,0
20121002906905,185,91,21,7,4.07,4.53,204,116,36,16,...,4.0,-160,"Ov 7,-120",-140,"Ov 7,-120",4,3,MIAMI,NYMETS,1
20121002910909,231,108,26,14,4.60,5.32,257,145,55,35,...,3.9,+135,"Ov 9,-105",+140,"Ov 9.5,-105",4,3,MILWAUKEE,SANDIEGO,1
20121002902901,190,73,14,8,3.40,3.07,186,78,47,16,...,4.6,-110,"Ov 7.5,-120",-115,"Ov 7.5,-120",5,1,PITTSBURGH,ATLANTA,1
20121002912911,165,77,22,11,3.95,3.45,205,94,55,29,...,4.0,+115,"Ov 7,-120",+115,"Ov 7,-120",1,3,STLOUIS,CINCINNATI,0
20121002904903,194,97,17,9,3.26,3.35,184,99,46,20,...,NaN,+115,"Ov 8.5,-120",+105,"Ov 8.5,-120",4,2,WASHINGTON,PHILADELPHIA,1
20121003974973,189,102,12,7,3.98,3.59,232,111,51,25,...,NaN,+105,"Ov 9,+100",+100,"Ov 9,+100",0,9,CLEVELAND,CHIWHITESOX,0
20121003980979,226,115,20,13,3.19,3.47,198,114,44,26,...,4.6,+120,"Ov 9,+105",+120,"Ov 9,-105",0,1,KANSASCITY,DETROIT,0
20121003976975,158,78,13,7,3.44,3.72,169,92,47,21,...,4.4,+265,"Ov 9,+100",+260,"Ov 9,+100",14,2,NYYANKEES,BOSTON,1
20121003968967,208,101,16,7,2.97,2.75,167,79,45,24,...,4.8,-105,"Ov 7.5,-105",+100,"Ov 7.5,-115",12,5,OAKLAND,TEXAS,1
20121003970969,186,88,18,9,3.40,2.19,171,56,44,14,...,4.8,-180,"Ov 7,-115",-175,"Ov 7,-115",12,0,SEATTLE,LAANGELS,1
20121003978977,148,65,8,4,2.88,2.27,148,60,40,17,...,4.6,-105,"Ov 7.5,+110",-105,"Ov 7.5,+100",4,1,TAMPABAY,BALTIMORE,1
20121003972971,206,97,15,8,4.34,4.78,254,141,70,40,...,4.4,+135,"Ov 8.5,+100",+130,"Ov 8.5,+100",2,1,TORONTO,MINNESOTA,1
20121003960959,151,82,19,5,3.29,3.81,170,103,40,25,...,4.7,+180,"Ov 9,-125",+180,"Ov 9,-125",1,2,ARIZONA,COLORADO,0
20121003956955,258,130,17,9,4.48,4.13,243,117,55,27,...,NaN,+110,"Ov 8.5,+100",+115,"Ov 8.5,-110",5,4,CHICAGOCUBS,HOUSTON,1
20121003962961,210,102,18,12,3.24,2.45,166,65,34,16,...,NaN,+165,"Ov 6.5,+105",+170,"Ov 6.5,+105",5,1,LADODGERS,SANFRANCISCO,1
20121003958957,187,93,22,8,4.08,4.54,206,118,36,16,...,4.0,+100,"Ov 8.5,+100",+110,"Ov 8,-105",2,4,MIAMI,NYMETS,0
20121003964963,232,109,26,14,4.59,5.29,259,147,55,35,...,3.8,+120,"Ov 8.5,-105",+120,"Ov 9,+100",6,7,MILWAUKEE,SANDIEGO,0
20121003952951,190,73,14,8,3.38,3.04,186,78,47,16,...,4.6,+130,"Ov 7.5,+105",+125,"Ov 7.5,+105",0,4,PITTSBURGH,ATLANTA,0
20121003966965,165,77,22,11,3.92,3.41,205,94,55,29,...,4.0,-150,"Ov 8.5,+110",-150,"Ov 8.5,+100",1,0,STLOUIS,CINCINNATI,1
20121003954953,195,98,17,9,3.25,3.32,185,100,47,21,...,4.6,+110,"Ov 7.5,+110",+110,"Ov 7.5,-105",5,1,WASHINGTON,PHILADELPHIA,1

#### Save dataframe to tsv

In [32]:
df_all.to_csv(file_o, sep='\t')

In [33]:
test = pd.read_csv(file_o, sep='\t')

In [34]:
test.shape

(2422, 462)

#### Subset target variable and features

for x in gms.index:
    print(x.type)

df_tar = df_all['win_h']
df_ft = df_all.drop(['V__Latest_Line', 'V__Latest_Total', 
                     'V__Opening_Line', 'V__Opening_Total', 
                     'sc_h', 'sc_v', 'win_h'], 
                    axis=1)

## `20200222`

#### MySQL Connector needs Python float, not numpy float64

def float64_to_float(x):
    try:
        if x.dtype == 'float64':
            return float(x)
    except:
        return x

#### Convert American betting lines to probability value satisfying E[x]=0

def american_to_probability(x):
    """
    Turns American +/- odds into probability 0 to 1 inclusive
    """
    if x.find('-') > -1 and x.find('+') > -1:
        print('Error: + and - signs found in betting line string') 

    elif x.find('-') > -1:
        num = int(x.replace(' ','').replace('-',''))
        if num < 100:
            print('Error: Betting line outside bounds [100,+inf]')
        else:
            pr = num/(100+num)
            return pr

    elif x.find('+') > -1:
        num = int(x.replace(' ','').replace('+',''))
        if num < 100 or num > 999:
            print('Error: Betting line outside bounds [100,999]')
        else:
            pr = 100/(100+num)
            return pr

    else:
        print('Error: No sign found in betting line string')

df = pd.DataFrame([['-120','-120+'],['+214','214'],['-123','-1123'],['-120','+90']])
df

for y in df.columns:
    df[y] = df[y].apply(lambda x : american_to_probability(x))

#### Set chrome options

options = Options()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-gpu')

#### Get all column names from `skr_statfox_matchups_cols.py` run

# all_cols = pd.read_pickle('pickles/statfox_matchups_cols.zip')

#### get list of games

glhead = pd.read_csv('GLHEADER.CSV',header=None)
gms = pd.read_csv('GL2018.CSV',header=0,names=list(glhead[0]))
gms = gms[['date','team_h','team_v','score_h','score_v']]

#### translate 3 letter team name to full

teams = pd.read_csv('TEAM_NAMES.CSV',header=0,index_col=['name1'],usecols=['name1','name3'])
teams = teams['name3'].to_dict()

gms['team_h'] = gms['team_h'].map(lambda x: teams[x.upper()])
gms['team_v'] = gms['team_v'].map(lambda x: teams[x.upper()])

#### Insert db connection string. Eff security or other good practices for now

engine = create_engine('mysql+mysqlconnector://jsimssy:1u2kIr&vDr8!lal@ml-pipeline-01.cf1vgzngw30x.us-east-2.rds.amazonaws.com:3306/mlb_bet_dev?use_pure=True')

## Main scrape code

dt = ''
tm_h = ''
tm_v = ''
sc_h = 0
sc_v = 0

# for x in range(len(gms)):
# for x in range(43,47):
for x in range(52,55):
    
    try:
        dt = str(gms.loc[x,'date'])
        tm_h = str(gms.loc[x,'team_h']).replace(' ','')                                                              
        tm_v = str(gms.loc[x,'team_v']).replace(' ','')
        sc_h = gms.loc[x,'score_h']
        sc_v = gms.loc[x,'score_v']
        
        # Adjust URL if second game of double header
        if (x > 1) and (str(gms.loc[x-1,'date']) == dt) and (str(gms.loc[x-1,'team_h']).replace(' ','') == tm_h):
            tm_h = tm_h+'2'
            
        url = 'http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g='+dt+tm_h+'&r=at'
        driver = webdriver.Chrome(options=options,executable_path='/home/ec2-user/./chromedriver')	
        driver.get(url)	
        ls = pd.DataFrame([])
        ls_a = pd.DataFrame([])
        
        # Primary table in schema. Game, team, result, odds. Indexed on YYYYMMDDBBB where B is board number
        sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr[9]/td/table/tbody/tr/td/table/tbody/tr/td[2]/table/tbody/tr/td/table/tbody/tr/td'
        stats = driver.find_element_by_xpath(sub_root)
        content_html = stats.get_attribute("innerHTML")	
#         brd_v = pd.read_html(content_html)[0][0].loc[2]
#         brd_h = pd.read_html(content_html)[0][0].loc[3]
        games = pd.DataFrame([[1,int(dt)],[1,int(dt)]], columns=['game_id','date'])
        games[['board','team_name','line_open','line_close']] = pd.read_html(content_html)[0].iloc[2:4][[0,1,2,4]].reset_index(drop=True)
        for c in ['line_open','line_close']:
            games[c] = games[c].apply(lambda x : american_to_probability(x))
        games['game_id'] = (games['date'])*1000 + pd.to_numeric(games['board'])
        games = games.drop(columns=['board'])
        games['date'] = pd.to_datetime(gms['date'][x], format="%Y%m%d")
        games['home'] = [False,True]
        games.to_sql(name='games', con=engine, if_exists='append', index=False)        
        
        # Dont increase tr for regular (non double header) games
        plus1 = 0
        
    # Account for double headers
    except:
        try:            
            # Get Game Board values for each team to use as index with date
            sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr[10]/td/table/tbody/tr/td/table/tbody/tr/td[2]/table/tbody/tr/td/table/tbody/tr/td'
            stats = driver.find_element_by_xpath(sub_root)
            content_html = stats.get_attribute("innerHTML")	
            brd_v = pd.read_html(content_html)[0][0].loc[2]
            brd_h = pd.read_html(content_html)[0][0].loc[3]
            
            # Increase tr in main block below by 1
            plus1 = 1
            
        except:
            print('Error: Did not retreive game and board info for match')
            print('...url was: ',url)
            print('...loop iteration was: ',x)
            continue
    
#     for tr in [14,15,16,18,19,20,23,25]:
    for tr in [14]:
        
#         try:       
            # Adjust tr if double header (tr + plus1)
            sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr['+str(tr+plus1)+']/td/table'
            stats = driver.find_element_by_xpath(sub_root)
            content_html = stats.get_attribute("innerHTML")	
            
            if tr in [14,18]:
                if tr == 14:
                    section = 'overall_v'
                    board = brd_v
                elif tr == 18:
                    section = 'overall_h'
                    board = brd_h
                ls = pd.read_html(content_html,index_col=[0],header=[2])[0]             
                # Parse columns with multiple values e.g. Win and Loss or Over and Under
                ls[['W','L']] = ls['W-L'].str.split("-",expand=True)
                ls[['O','U']] = ls['O-U'].str.split("-",expand=True)
                ls = ls.drop(columns=['W-L','O-U'])                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['game_id'] = dt+'_'+board
                    Y = Y.set_index(['game_id'],drop=True)
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
            elif tr in [15,19]:
                if tr == 15:
                    section = 'hitNfield_v'
                    board = brd_v
                elif tr == 19:
                    section = 'hitNfield_h'
                    board = brd_h
                ls = pd.read_html(content_html,index_col=[0],header=[2])[0]                                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['idx'] = dt+'_'+board
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
            elif tr in [16,20]:
                if tr == 16:
                    section = 'bullpen_v'
                    board = brd_v
                elif tr == 20:
                    section = 'bullpen_h'
                    board = brd_h
                ls = pd.read_html(content_html,index_col=[0],header=[1])[0]                                
                ls[['W','L']] = ls['W-L'].str.split("-",expand=True)
                ls = ls.drop(columns=['W-L'])                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['idx'] = dt+'_'+board
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
            elif tr in [23,25]:
                if tr == 23:
                    section = 'matchups_v'
                    board = brd_v
                elif tr == 25:
                    section = 'matchups_h'
                    board = brd_h
                ls = pd.read_html(content_html,header=[2])[0]    
                # Make pitching matchup date relative to game day, not raw dates
                ls['Date'] = pd.to_datetime(ls['Date']) - pd.to_datetime(gms['date'][x], format="%Y%m%d")
                ls = ls.set_index('Date')
                # Split Score and Tot, Ovr/Und to multiple variables
                ls[['score_for','score_against']] = ls['Score'].str.split("-",expand=True)
                ls[['ovrund_num','ovrund']] = ls['Tot.'].str.split(" ",expand=True)
                ls = ls.drop(columns=['Score','Tot.'])      
                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    # Only want negative (past) matchup results, future games are null
                    if i.days < 0:
                        Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                        Y['idx'] = int(dt)*1000 + int(board)
                        table = section+'_'+str(i.days)
                        Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
#             ls = pd.concat([ls], keys=[table])
#             ls = ls.stack()
#             ls_a = pd.concat([ls_a,ls])

        except:
            # Check for normal pagenotfound verses error parsing
            try:
                xpath_notfound = '//*[@src="/images/foxsheetnotfound.gif"]'
                driver.find_element_by_xpath(xpath_notfound)
                print('No game exists for ',tm_h,' on ',dt)
                print('Error: loop iteration = ',x)
                continue
                
            except:
                err_msg = 'Possible change to HTML tables structure \n'
                err_msg += err_msg + 'Check the URL: ' + url
                print('Error: loop iteration = ',x)
                continue

    # Close all Chrome sessions to save memory between loops
    driver.quit()

games[['line_open','line_close']].apply(american_to_probability, axis=1)

games

                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['game_id'] = dt+'_'+board
                    Y = Y.set_index(['game_id'],drop=True)
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=True, index_labels=['game_id'])

Y.to_sql?

board = brd_v 
Y = pd.DataFrame([int(dt)*1000 + int(board)], columns=['idx'])
Y = Y.concat(ls.loc[i].apply(lambda x : float64_to_float(x)).transpose())

x = 45

dt = str(gms.loc[x,'date'])
tm_h = str(gms.loc[x,'team_h']).replace(' ','')                                                              
tm_v = str(gms.loc[x,'team_v']).replace(' ','')
sc_h = gms.loc[x,'score_h']
sc_v = gms.loc[x,'score_v']

# Adjust URL if second game of double header
if (x > 1) and (str(gms.loc[x-1,'date']) == dt) and (str(gms.loc[x-1,'team_h']).replace(' ','') == tm_h):
    tm_h = tm_h+'2'

url = 'http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g='+dt+tm_h+'&r=at'
driver = webdriver.Chrome(options=options,executable_path='/home/ec2-user/./chromedriver')	
driver.get(url)	
ls = pd.DataFrame([])
ls_a = pd.DataFrame([])

# Get Game Board values for each team to use as index with date
sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr[9]/td/table/tbody/tr/td/table/tbody/tr/td[2]/table/tbody/tr/td/table/tbody/tr/td'
stats = driver.find_element_by_xpath(sub_root)
content_html = stats.get_attribute("innerHTML")	
brd_v = pd.read_html(content_html)[0][0].loc[2]
brd_h = pd.read_html(content_html)[0][0].loc[3]

driver.quit()

Y.to_sql(name=table, con=engine, if_exists='append', index=False)

pd.read_html(content_html)[0]

pd.read_html(content_html,index_col=[0],header=[2])

X = pd.read_html(content_html,index_col=[0],header=[2])[0]

pd.Series(X.loc['All Games'])

pd.DataFrame([],index=[[int(dt)],[int(brd_v)]])
Y = pd.DataFrame([])

for x in X.index:
    Y = pd.DataFrame(X.loc[x].apply(lambda x : float64_to_float(x))).transpose()
    Y['idx'] = dt+'_'+board
    Y.to_sql(name=table+x, con=engine, if_exists='replace', index=False)

Y

z = Y.set_index(keys=list(['game_date'],['board']),drop=True).index
z

pd.DataFrame?

Y.set_index(keys=['game_date','board'],drop=True).index.levels

Y.to_sql?

    ls_a = ls_a.transpose()

    ls_a['score_v'] = sc_v
    ls_a['team_v'] = tm_v
    ls_a['team_h'] = tm_h
    ls_a['score_h'] = sc_h  
    
    all_cols = all_cols.append(ls_a, sort=False).reset_index(drop=True).tail(1)
    
    all_cols = all_cols.transpose().reset_index(drop=True).transpose()
    
    all_cols.to_sql(name='statfox_matchups', con=engine, if_exists='append', index=False)

ls

all_cols.to_sql?

all_cols = all_cols.append(ls_a, sort=False).reset_index(drop=True)

X.to_sql(name='statfox_matchups', con=engine, if_exists='update', index=False)

X = pd.DataFrame({'a':[1,3,6]})
Y = pd.DataFrame({'b':[4,2,5]})
Y.append(X)

pk.reset_index(drop=True).transpose()

pk.transpose().reset_index(drop=True)

pk.reset_index?

    # Save each row to CSV. Maybe better to use pickles get all possible fields first to make final SQL table
    if os.path.isfile(fname) == False:
        ls_a.to_csv(fname,index=False)
    else:
        with open(fname, 'a') as f1:
            ls_a.to_csv(f1, index=False, header=False)

ls = pd.read_html(content_html,header=[2])[0]    
ls

ls['Date'] = pd.to_datetime(ls['Date']) - pd.to_datetime(gms['date'][x], format="%Y%m%d")
ls

ls[['score_for','score_against']] = ls['Score'].str.split("-",expand=True)
ls[['ovrund_num','ovrund']] = ls['Tot.'].str.split(" ",expand=True)
ls = ls.drop(columns=['Score','Tot.'])      
ls = pd.concat([ls], keys=[table])

ls = ls.stack()

mdx = ls.index
mdx = mdx.set_levels([mdx.levels[0], tdelta, mdx.levels[2]])
mdx

s = ls
s.reset_index(level=[1],drop=True)

pd.Series(data=ls.values).reset_index

pd.Series(data=ls.values,index=mdx

mdx.codes[2]

mdx

Xls = pd.Series

pd.to_datetime(gms['date'][x], format="%Y%m%d")

idx = pd.MultiIndex.from_tuples([(1, u'one'), (1, u'two'),
                                    (2, u'one'), (2, u'two')],
                                    names=['foo', 'bar'])
idx

arrays = [[1, 1, 2, 2], [6,7], ['red', 'blue', 'red', 'blue']]
mdx = pd.MultiIndex.from_product(arrays, names=('number', 'middle', 'color'))
mdx = mdx.set_levels([mdx.levels[0],['a','b'],mdx.levels[2]])
mdx

pd.MultiIndex.from_product?

Xls.index.levels[1] = pd.to_datetime(Xls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")

Xls2 = Xls.index.set_levels([pd.to_datetime(Xls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")])
Xls2 = Xls.index.swaplevel(i=2,j=1)
Xls2

Xls3 = Xls.reindex(Xls2)
Xls3

Xls2 = Xls.index.swaplevel

[pd.to_datetime(ls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")]

Xls.index.set_levels([pd.to_datetime(ls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")])

Xls.reindex(pd.to_datetime(ls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d"))

ls.index

pd.to_pickle(ls,'pickles/matchups_h.zip')

ls = []
ls = pd.read_pickle('pickles/matchups_h.zip')

ar = df.team_v.unique()
ar = np.sort(ar,axis=0)
df = pd.DataFrame([ar]).transpose()
df = df.rename(index=int, columns={0: "team"})

gl = pd.read_csv('GL2018.CSV', header=0, index_col=0, nrows=test_rows,
                     usecols=['date','team_h','team_v','score_h', 'score_v'],
                     engine='c',
                     parse_dates=['date'],
                     infer_datetime_format=True)

cols = list(range(len(ls_a.transpose())))
for n in range(len(ls_a.transpose())):
    cols[n] = 'feat_'+str(n)

soup = BeautifulSoup(element_html, "html.parser")
for td in tds:
    soup_all = soup.find_all('td',{'class': 'matchupCells Text'})
    soup_all[td].content
    vals = pd.concat([vals,val])

pd.read_html(soup_all)[0]

pd.read_html?


index.to_flat_index()


test

lsall = pd.concat([ls1.melt().dropna(),ls2.melt().dropna(),ls3.melt().dropna(),ls4.melt().dropna()])
lsall

xt = 3
if xt in [5,2]:
    print('One')
elif xt in [3,4]:
    print('Two')

df2 = df.loc[3:10,1:10]
df2

df3 = df2.reindex(index=list(df.loc[3:10,0]),columns=list(df.loc[2,1:10]))
df3

df2 = pd.DataFrame(df.loc[3:10,1:10],index=list(df.loc[3:10,0]),columns=list(df.loc[2,1:10]))
df2

arr = [df.loc[3:10,1:10]]
arr?

df = lsall.iloc[2:10,0:10]
df2 = df.melt(id_vars=[0],value_vars=range(1,10))
df

df.iloc[2,1:10].to_list

Xdf = lsall.reindex(range(len(lsall)))
Xdf

X = pd.DataFrame(df[1], index=

pd.DataFrame?

soup = BeautifulSoup(content_html, "html.parser")

stats = soup.find('table',{'class': 'bg2'}).contents[0]

stats