# Scrape StatFox for Current and Historical Matchup Stats
`Notebooks/skr_statfox.ipynb`
###### `BY: Jonathan Sims` 
###### `MODIFIED: 2019-06-15` (created)
- GOAL: Scrape daily to build up historical matchup tables
- USE: Treat each matchup page as one obs in RF model to asses feature importance
    - Useful before spending time building up game/pitch/player-level count data 
    - Compare odds here with odds from VegasInsider to look for odds movement features

In [1]:
import sys
import os.path
from bs4 import BeautifulSoup
from urllib.request import urlopen
import boto3
import numpy as np
import pandas as pd 
import pickle
import codecs

#### Get list of games

In [2]:
glhead = pd.read_csv('GLHEADER.CSV',header=None)
gms = pd.read_csv('GL2018.CSV',header=0,names=list(glhead[0]))
gms = gms[['date','team_h','team_v','score_h','score_v']]

teams = pd.read_csv('TEAM_NAMES.CSV',header=0,index_col=['name1'],usecols=['name1','name3'])
teams = teams['name3'].to_dict()

gms['team_h'] = gms['team_h'].map(lambda x: teams[x.upper()])
gms['team_v'] = gms['team_v'].map(lambda x: teams[x.upper()])

# TEMP - manually create gms dataframe
gms = pd.DataFrame({'date':[20180623,20180623], 
                    'team_h':['BOSTON','LAANGELS'], 
                    'team_v':['SEATTLE','TORONTO'], 
                    'score_h':[2,1], 
                    'score_v':[7,4]
                   }
                  )
gms

#### Generate exact URL for each matchup

for row in gms.index:
    for col in gms.:
        print(col)

In [3]:
gms.head()

       date      team_h         team_v  score_h  score_v
0  20180329     ATLANTA   PHILADELPHIA        8        5
1  20180329  LA DODGERS  SAN FRANCISCO        0        1
2  20180329       MIAMI   CHICAGO CUBS        4        8
3  20180329     NY METS       ST LOUIS        9        4
4  20180329   SAN DIEGO      MILWAUKEE        1        2

#### Pickle dataframe and put to s3

In [36]:
bucketname = 'scrapes-rawhtml-dev'
folder = 'statfox_DEV/'
s3 = boto3.client('s3')


def lambda_handler1(event, context):
    """Pickle dataframe and put to s3 bucket in site name folder
    i.e. 'statfox/'
    """
    serializedListObject = pickle.dumps(df)
    s3.put_object(Bucket=bucketname,Key=keyname,Body=serializedListObject)

#### Visit each page in games list, scrape, and send to s3 as pickle

In [38]:
# x is game number in games list
# for x in range(len(gms)):
for x in range(46):
    
    
    # Parse date, team names, and score from games list
    dt = str(gms.loc[x,'date'])
    tm_h = str(gms.loc[x,'team_h']).replace(' ','')                                                              
    tm_v = str(gms.loc[x,'team_v']).replace(' ','')
    sc_h = gms.loc[x,'score_h']
    sc_v = gms.loc[x,'score_v']


    # Adjust URL if second game of double header
    if (x > 1) and (str(gms.loc[x-1,'date']) == dt) and (str(gms.loc[x-1,'team_h']).replace(' ','') == tm_h):
        tm_h = tm_h+'2'

    
    # Set game and s3 bucket, URL, and file name
    game = dt+tm_h
    keyname = folder+game+'.pkl'
    url = 'http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g='+dt+tm_h+'&r=at'
    
    
    # Parse HTML
    html = urlopen(url)
    bs = BeautifulSoup(html.read(), 'html.parser')


    # Get all tables from page
    nameList = bs.findAll('td', {'class':['matchupBorder']})

     
    # Save each table to a dataframe and pickle
    namestr = str(nameList)
    df = pd.read_html(namestr)
#     df = pickle.dumps(htmldf)
#     df = str(htmldf)
    lambda_handler1(event=1,context=1)
    
    # Checkpoint
    if x%5 == 0:
        print(url)

http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180329ATLANTA&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180329BALTIMORE&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180329TEXAS&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180330LADODGERS&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180330TAMPABAY&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180331CINCINNATI&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180331BALTIMORE&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180331TEXAS&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180401NYMETS&r=at
http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g=20180401SEATTLE&r=at

In [ ]:
df

#### Get dataframe from s3 and unpickle

In [39]:
def lambda_handler2(event, context):
    """Get dataframe from s3 and unpickle
    """
    pkldf = s3.get_object(Bucket=bucketname,Key=keyname)['Body'].read()
    df = pickle.loads(pkldf)
    return df

#### Format and append each matchup together from s3

In [47]:
for x in range(45,46):
    
    # Parse date, team names, and score from games list
    dt = str(gms.loc[x,'date'])
    tm_h = str(gms.loc[x,'team_h']).replace(' ','')                                                              
    tm_v = str(gms.loc[x,'team_v']).replace(' ','')
    sc_h = gms.loc[x,'score_h']
    sc_v = gms.loc[x,'score_v']


    # Adjust URL if second game of double header
    if (x > 1) and (str(gms.loc[x-1,'date']) == dt) and (str(gms.loc[x-1,'team_h']).replace(' ','') == tm_h):
        tm_h = tm_h+'2'

    
    # Set game and s3 bucket, URL, and file name
    game = dt+tm_h
    keyname = folder+game+'.pkl'
    
    
    df = lambda_handler2(event=1, context=1)

In [44]:
gms.iloc[2429]

date         20181001
team_h     LA DODGERS
team_v       COLORADO
score_h             5
score_v             2
Name: 2429, dtype: object

#### Parse and concatenate all features together, by matchup

In [153]:
# 6:  Overall - board and line
# 11: Away - Current Season Performance
# 12: Away - Team Hitting and Fielding
# 13: Away - Bullpen Pitching 
# 14: Home - Current Season Performance
# 15: Home - Team Hitting and Fielding
# 16: Home - Bullpen Pitching 
df6  = df[6] 
df11 = df[11]
df12 = df[12]
df13 = df[13]
df14 = df[14]
df15 = df[15]
df16 = df[16]

In [154]:
df11.columns = df11.iloc[2]

In [164]:
df11.iloc[3:,df11.columns.isnull()].columns

Index([nan], dtype='object', name=2)

In [157]:
test = df11.iloc[3:,df11.columns.notnull()]
test

2,W-L,Units,O-U,Runs,Avg,OBP,SLG,OPS,Runs,Avg,OBP,SLG,OPS
3,104-63,+4.1,63-97,5.0,0.260,0.333,0.429,0.762,3.5,0.235,0.289,0.371,0.661
4,53-30,+13.2,31-47,5.0,0.259,0.328,0.432,0.760,3.6,0.237,0.299,0.367,0.666
5,67-38,+4.6,42-58,5.0,0.258,0.331,0.434,0.764,3.5,0.233,0.283,0.376,0.658
6,3-4,-4.1,2-5,3.1,0.163,0.257,0.258,0.515,3.4,0.197,0.271,0.328,0.599
7,100-60,+3.5,62-91,5.0,0.261,0.334,0.432,0.767,3.5,0.236,0.290,0.374,0.664
8,39-17,+11.3,21-33,5.1,0.275,0.340,0.447,0.787,3.4,0.229,0.288,0.357,0.645

In [151]:
df11

2,nan,W-L,Units,O-U,Runs,Avg,OBP,SLG,OPS,Runs,Avg,OBP,SLG,OPS
0,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance,CLEVELAND - Current Season Performance
1,NaN,Team Records,Team Records,Team Records,Team,Team,Team,Team,Team,Opponent,Opponent,Opponent,Opponent,Opponent
2,NaN,W-L,Units,O-U,Runs,Avg,OBP,SLG,OPS,Runs,Avg,OBP,SLG,OPS
3,All Games,104-63,+4.1,63-97,5.0,0.260,0.333,0.429,0.762,3.5,0.235,0.289,0.371,0.661
4,Road Games,53-30,+13.2,31-47,5.0,0.259,0.328,0.432,0.760,3.6,0.237,0.299,0.367,0.666
5,vs Right-handed Starters,67-38,+4.6,42-58,5.0,0.258,0.331,0.434,0.764,3.5,0.233,0.283,0.376,0.658
6,Past 7 Games,3-4,-4.1,2-5,3.1,0.163,0.257,0.258,0.515,3.4,0.197,0.271,0.328,0.599
7,Grass Games,100-60,+3.5,62-91,5.0,0.261,0.334,0.432,0.767,3.5,0.236,0.290,0.374,0.664
8,Day Games,39-17,+11.3,21-33,5.1,0.275,0.340,0.447,0.787,3.4,0.229,0.288,0.357,0.645

In [142]:
test = test.assign(idx_lv1='bullpen',idx_lv2=test[''])
test

KeyError: ''

In [123]:
test = test.drop(0,axis=1)
test = test.set_index(['idx_lv1','idx_lv2'])
test.iloc[3:]
# test.iloc[3:].unstack(level=-1)

KeyError: 0

In [ ]:
test = df11.assign

In [ ]:
test = df11.assing

In [ ]:
test = df11.concat

In [46]:
pd.read_html(str(nameList))[16]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics,SEATTLE - Bullpen Pitching Statistics
1,NaN,ERA,WHIP,IP,R,ER,H,HR,BB,SO,W-L,SV,BSV,Pct.,NaN,NaN
2,All Games,4.12,1.294,569.7,287,261,526,79,211,547,31-31,39,24,61.9%,NaN,NaN
3,Home Games,4.15,1.306,275.7,142,127,251,39,109,277,15-19,13,14,48.1%,NaN,NaN

## `20200213`

#### MySQL Connector needs Python float, not numpy float64

In [2]:
def float64_to_float(x):
    try:
        if x.dtype == 'float64':
            return float(x)
    except:
        return x

#### Convert American betting lines to probability value satisfying E[x]=0

In [3]:
def american_to_probability(x):
    """
    Turns American +/- odds into probability 0 to 1 inclusive
    """
    if x.find('-') > -1 and x.find('+') > -1:
        print('Error: + and - signs found in betting line string') 

    elif x.find('-') > -1:
        num = int(x.replace(' ','').replace('-',''))
        if num < 100:
            print('Error: Betting line outside bounds [100,+inf]')
        else:
            pr = num/(100+num)
            return pr

    elif x.find('+') > -1:
        num = int(x.replace(' ','').replace('+',''))
        if num < 100 or num > 999:
            print('Error: Betting line outside bounds [100,999]')
        else:
            pr = 100/(100+num)
            return pr

    else:
        print('Error: No sign found in betting line string')

df = pd.DataFrame([['-120','-120+'],['+214','214'],['-123','-1123'],['-120','+90']])
df

for y in df.columns:
    df[y] = df[y].apply(lambda x : american_to_probability(x))

#### Set chrome options

In [4]:
options = Options()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-gpu')

#### Get all column names from `skr_statfox_matchups_cols.py` run

In [5]:
# all_cols = pd.read_pickle('pickles/statfox_matchups_cols.zip')

#### get list of games

In [6]:
glhead = pd.read_csv('GLHEADER.CSV',header=None)
gms = pd.read_csv('GL2018.CSV',header=0,names=list(glhead[0]))
gms = gms[['date','team_h','team_v','score_h','score_v']]

#### translate 3 letter team name to full

In [7]:
teams = pd.read_csv('TEAM_NAMES.CSV',header=0,index_col=['name1'],usecols=['name1','name3'])
teams = teams['name3'].to_dict()

gms['team_h'] = gms['team_h'].map(lambda x: teams[x.upper()])
gms['team_v'] = gms['team_v'].map(lambda x: teams[x.upper()])

#### Insert db connection string. Eff security or other good practices for now

In [8]:
engine = create_engine('mysql+mysqlconnector://jsimssy:1u2kIr&vDr8!lal@ml-pipeline-01.cf1vgzngw30x.us-east-2.rds.amazonaws.com:3306/mlb_bet_dev?use_pure=True')

ImportError: No module named mysql

## Main scrape code

In [ ]:
dt = ''
tm_h = ''
tm_v = ''
sc_h = 0
sc_v = 0

# for x in range(len(gms)):
# for x in range(43,47):
for x in range(52,55):
    
    try:
        dt = str(gms.loc[x,'date'])
        tm_h = str(gms.loc[x,'team_h']).replace(' ','')                                                              
        tm_v = str(gms.loc[x,'team_v']).replace(' ','')
        sc_h = gms.loc[x,'score_h']
        sc_v = gms.loc[x,'score_v']
        
        # Adjust URL if second game of double header
        if (x > 1) and (str(gms.loc[x-1,'date']) == dt) and (str(gms.loc[x-1,'team_h']).replace(' ','') == tm_h):
            tm_h = tm_h+'2'
            
        url = 'http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g='+dt+tm_h+'&r=at'
        driver = webdriver.Chrome(options=options,executable_path='/home/ec2-user/./chromedriver')	
        driver.get(url)	
        ls = pd.DataFrame([])
        ls_a = pd.DataFrame([])
        
        # Primary table in schema. Game, team, result, odds. Indexed on YYYYMMDDBBB where B is board number
        sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr[9]/td/table/tbody/tr/td/table/tbody/tr/td[2]/table/tbody/tr/td/table/tbody/tr/td'
        stats = driver.find_element_by_xpath(sub_root)
        content_html = stats.get_attribute("innerHTML")	
#         brd_v = pd.read_html(content_html)[0][0].loc[2]
#         brd_h = pd.read_html(content_html)[0][0].loc[3]
        games = pd.DataFrame([[1,int(dt)],[1,int(dt)]], columns=['game_id','date'])
        games[['board','team_name','line_open','line_close']] = pd.read_html(content_html)[0].iloc[2:4][[0,1,2,4]].reset_index(drop=True)
        for c in ['line_open','line_close']:
            games[c] = games[c].apply(lambda x : american_to_probability(x))
        games['game_id'] = (games['date'])*1000 + pd.to_numeric(games['board'])
        games = games.drop(columns=['board'])
        games['date'] = pd.to_datetime(gms['date'][x], format="%Y%m%d")
        games['home'] = [False,True]
        games.to_sql(name='games', con=engine, if_exists='append', index=False)        
        
        # Dont increase tr for regular (non double header) games
        plus1 = 0
        
    # Account for double headers
    except:
        try:            
            # Get Game Board values for each team to use as index with date
            sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr[10]/td/table/tbody/tr/td/table/tbody/tr/td[2]/table/tbody/tr/td/table/tbody/tr/td'
            stats = driver.find_element_by_xpath(sub_root)
            content_html = stats.get_attribute("innerHTML")	
            brd_v = pd.read_html(content_html)[0][0].loc[2]
            brd_h = pd.read_html(content_html)[0][0].loc[3]
            
            # Increase tr in main block below by 1
            plus1 = 1
            
        except:
            print('Error: Did not retreive game and board info for match')
            print('...url was: ',url)
            print('...loop iteration was: ',x)
            continue
    
#     for tr in [14,15,16,18,19,20,23,25]:
    for tr in [14]:
        
#         try:       
            # Adjust tr if double header (tr + plus1)
            sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr['+str(tr+plus1)+']/td/table'
            stats = driver.find_element_by_xpath(sub_root)
            content_html = stats.get_attribute("innerHTML")	
            
            if tr in [14,18]:
                if tr == 14:
                    section = 'overall_v'
                    board = brd_v
                elif tr == 18:
                    section = 'overall_h'
                    board = brd_h
                ls = pd.read_html(content_html,index_col=[0],header=[2])[0]             
                # Parse columns with multiple values e.g. Win and Loss or Over and Under
                ls[['W','L']] = ls['W-L'].str.split("-",expand=True)
                ls[['O','U']] = ls['O-U'].str.split("-",expand=True)
                ls = ls.drop(columns=['W-L','O-U'])                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['game_id'] = dt+'_'+board
                    Y = Y.set_index(['game_id'],drop=True)
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
            elif tr in [15,19]:
                if tr == 15:
                    section = 'hitNfield_v'
                    board = brd_v
                elif tr == 19:
                    section = 'hitNfield_h'
                    board = brd_h
                ls = pd.read_html(content_html,index_col=[0],header=[2])[0]                                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['idx'] = dt+'_'+board
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
            elif tr in [16,20]:
                if tr == 16:
                    section = 'bullpen_v'
                    board = brd_v
                elif tr == 20:
                    section = 'bullpen_h'
                    board = brd_h
                ls = pd.read_html(content_html,index_col=[0],header=[1])[0]                                
                ls[['W','L']] = ls['W-L'].str.split("-",expand=True)
                ls = ls.drop(columns=['W-L'])                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['idx'] = dt+'_'+board
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
            elif tr in [23,25]:
                if tr == 23:
                    section = 'matchups_v'
                    board = brd_v
                elif tr == 25:
                    section = 'matchups_h'
                    board = brd_h
                ls = pd.read_html(content_html,header=[2])[0]    
                # Make pitching matchup date relative to game day, not raw dates
                ls['Date'] = pd.to_datetime(ls['Date']) - pd.to_datetime(gms['date'][x], format="%Y%m%d")
                ls = ls.set_index('Date')
                # Split Score and Tot, Ovr/Und to multiple variables
                ls[['score_for','score_against']] = ls['Score'].str.split("-",expand=True)
                ls[['ovrund_num','ovrund']] = ls['Tot.'].str.split(" ",expand=True)
                ls = ls.drop(columns=['Score','Tot.'])      
                
                # Make sql table for each row index (All games, night games, etc.)
                for i in ls.index:
                    # Only want negative (past) matchup results, future games are null
                    if i.days < 0:
                        Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                        Y['idx'] = int(dt)*1000 + int(board)
                        table = section+'_'+str(i.days)
                        Y.to_sql(name=table, con=engine, if_exists='append', index=False)
                
#             ls = pd.concat([ls], keys=[table])
#             ls = ls.stack()
#             ls_a = pd.concat([ls_a,ls])

In [ ]:
        except:
            # Check for normal pagenotfound verses error parsing
            try:
                xpath_notfound = '//*[@src="/images/foxsheetnotfound.gif"]'
                driver.find_element_by_xpath(xpath_notfound)
                print('No game exists for ',tm_h,' on ',dt)
                print('Error: loop iteration = ',x)
                continue
                
            except:
                err_msg = 'Possible change to HTML tables structure \n'
                err_msg += err_msg + 'Check the URL: ' + url
                print('Error: loop iteration = ',x)
                continue

    # Close all Chrome sessions to save memory between loops
    driver.quit()

In [ ]:
games[['line_open','line_close']].apply(american_to_probability, axis=1)

In [ ]:
games

In [ ]:
                for i in ls.index:
                    Y = pd.DataFrame(ls.loc[i].apply(lambda x : float64_to_float(x))).transpose()
                    Y['game_id'] = dt+'_'+board
                    Y = Y.set_index(['game_id'],drop=True)
                    table = section+'_'+i
                    Y.to_sql(name=table, con=engine, if_exists='append', index=True, index_labels=['game_id'])

In [ ]:
Y.to_sql?

In [ ]:
board = brd_v 
Y = pd.DataFrame([int(dt)*1000 + int(board)], columns=['idx'])
Y = Y.concat(ls.loc[i].apply(lambda x : float64_to_float(x)).transpose())

In [ ]:
x = 45

dt = str(gms.loc[x,'date'])
tm_h = str(gms.loc[x,'team_h']).replace(' ','')                                                              
tm_v = str(gms.loc[x,'team_v']).replace(' ','')
sc_h = gms.loc[x,'score_h']
sc_v = gms.loc[x,'score_v']

# Adjust URL if second game of double header
if (x > 1) and (str(gms.loc[x-1,'date']) == dt) and (str(gms.loc[x-1,'team_h']).replace(' ','') == tm_h):
    tm_h = tm_h+'2'

url = 'http://foxsheets.statfoxsports.com/foxsheets.aspx?s=mlb&g='+dt+tm_h+'&r=at'
driver = webdriver.Chrome(options=options,executable_path='/home/ec2-user/./chromedriver')	
driver.get(url)	
ls = pd.DataFrame([])
ls_a = pd.DataFrame([])

# Get Game Board values for each team to use as index with date
sub_root = '//*[@id="dnn_ctr490_View_UP"]/table[3]/tbody/tr[9]/td/table/tbody/tr/td/table/tbody/tr/td[2]/table/tbody/tr/td/table/tbody/tr/td'
stats = driver.find_element_by_xpath(sub_root)
content_html = stats.get_attribute("innerHTML")	
brd_v = pd.read_html(content_html)[0][0].loc[2]
brd_h = pd.read_html(content_html)[0][0].loc[3]

driver.quit()

In [ ]:
Y.to_sql(name=table, con=engine, if_exists='append', index=False)

In [ ]:
pd.read_html(content_html)[0]

In [ ]:
pd.read_html(content_html,index_col=[0],header=[2])

X = pd.read_html(content_html,index_col=[0],header=[2])[0]

pd.Series(X.loc['All Games'])

pd.DataFrame([],index=[[int(dt)],[int(brd_v)]])
Y = pd.DataFrame([])

for x in X.index:
    Y = pd.DataFrame(X.loc[x].apply(lambda x : float64_to_float(x))).transpose()
    Y['idx'] = dt+'_'+board
    Y.to_sql(name=table+x, con=engine, if_exists='replace', index=False)

Y

z = Y.set_index(keys=list(['game_date'],['board']),drop=True).index
z

pd.DataFrame?

Y.set_index(keys=['game_date','board'],drop=True).index.levels

Y.to_sql?

    ls_a = ls_a.transpose()

    ls_a['score_v'] = sc_v
    ls_a['team_v'] = tm_v
    ls_a['team_h'] = tm_h
    ls_a['score_h'] = sc_h  
    
    all_cols = all_cols.append(ls_a, sort=False).reset_index(drop=True).tail(1)
    
    all_cols = all_cols.transpose().reset_index(drop=True).transpose()
    
    all_cols.to_sql(name='statfox_matchups', con=engine, if_exists='append', index=False)

ls

all_cols.to_sql?

all_cols = all_cols.append(ls_a, sort=False).reset_index(drop=True)

X.to_sql(name='statfox_matchups', con=engine, if_exists='update', index=False)

X = pd.DataFrame({'a':[1,3,6]})
Y = pd.DataFrame({'b':[4,2,5]})
Y.append(X)

pk.reset_index(drop=True).transpose()

pk.transpose().reset_index(drop=True)

pk.reset_index?

    # Save each row to CSV. Maybe better to use pickles get all possible fields first to make final SQL table
    if os.path.isfile(fname) == False:
        ls_a.to_csv(fname,index=False)
    else:
        with open(fname, 'a') as f1:
            ls_a.to_csv(f1, index=False, header=False)

ls = pd.read_html(content_html,header=[2])[0]    
ls

ls['Date'] = pd.to_datetime(ls['Date']) - pd.to_datetime(gms['date'][x], format="%Y%m%d")
ls

ls[['score_for','score_against']] = ls['Score'].str.split("-",expand=True)
ls[['ovrund_num','ovrund']] = ls['Tot.'].str.split(" ",expand=True)
ls = ls.drop(columns=['Score','Tot.'])      
ls = pd.concat([ls], keys=[table])

ls = ls.stack()

mdx = ls.index
mdx = mdx.set_levels([mdx.levels[0], tdelta, mdx.levels[2]])
mdx

s = ls
s.reset_index(level=[1],drop=True)

pd.Series(data=ls.values).reset_index

pd.Series(data=ls.values,index=mdx

mdx.codes[2]

mdx

Xls = pd.Series

pd.to_datetime(gms['date'][x], format="%Y%m%d")

idx = pd.MultiIndex.from_tuples([(1, u'one'), (1, u'two'),
                                    (2, u'one'), (2, u'two')],
                                    names=['foo', 'bar'])
idx

arrays = [[1, 1, 2, 2], [6,7], ['red', 'blue', 'red', 'blue']]
mdx = pd.MultiIndex.from_product(arrays, names=('number', 'middle', 'color'))
mdx = mdx.set_levels([mdx.levels[0],['a','b'],mdx.levels[2]])
mdx

pd.MultiIndex.from_product?

Xls.index.levels[1] = pd.to_datetime(Xls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")

Xls2 = Xls.index.set_levels([pd.to_datetime(Xls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")])
Xls2 = Xls.index.swaplevel(i=2,j=1)
Xls2

Xls3 = Xls.reindex(Xls2)
Xls3

Xls2 = Xls.index.swaplevel

[pd.to_datetime(ls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")]

Xls.index.set_levels([pd.to_datetime(ls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d")])

Xls.reindex(pd.to_datetime(ls.index.levels[1]) - pd.to_datetime(gms['date'][x], format="%Y%m%d"))

ls.index

pd.to_pickle(ls,'pickles/matchups_h.zip')

ls = []
ls = pd.read_pickle('pickles/matchups_h.zip')

ar = df.team_v.unique()
ar = np.sort(ar,axis=0)
df = pd.DataFrame([ar]).transpose()
df = df.rename(index=int, columns={0: "team"})

gl = pd.read_csv('GL2018.CSV', header=0, index_col=0, nrows=test_rows,
                     usecols=['date','team_h','team_v','score_h', 'score_v'],
                     engine='c',
                     parse_dates=['date'],
                     infer_datetime_format=True)

cols = list(range(len(ls_a.transpose())))
for n in range(len(ls_a.transpose())):
    cols[n] = 'feat_'+str(n)

soup = BeautifulSoup(element_html, "html.parser")
for td in tds:
    soup_all = soup.find_all('td',{'class': 'matchupCells Text'})
    soup_all[td].content
    vals = pd.concat([vals,val])

pd.read_html(soup_all)[0]

pd.read_html?


index.to_flat_index()


test

lsall = pd.concat([ls1.melt().dropna(),ls2.melt().dropna(),ls3.melt().dropna(),ls4.melt().dropna()])
lsall

xt = 3
if xt in [5,2]:
    print('One')
elif xt in [3,4]:
    print('Two')

df2 = df.loc[3:10,1:10]
df2

df3 = df2.reindex(index=list(df.loc[3:10,0]),columns=list(df.loc[2,1:10]))
df3

df2 = pd.DataFrame(df.loc[3:10,1:10],index=list(df.loc[3:10,0]),columns=list(df.loc[2,1:10]))
df2

arr = [df.loc[3:10,1:10]]
arr?

df = lsall.iloc[2:10,0:10]
df2 = df.melt(id_vars=[0],value_vars=range(1,10))
df

df.iloc[2,1:10].to_list

Xdf = lsall.reindex(range(len(lsall)))
Xdf

X = pd.DataFrame(df[1], index=

pd.DataFrame?

soup = BeautifulSoup(content_html, "html.parser")

stats = soup.find('table',{'class': 'bg2'}).contents[0]

stats